section {
        margin-top:5px;
    }

    .parallax-content {
        position: absolute;
        color:white;
        text-align: center;
        width: 100%;
        margin-top: 11%;
        font-family: Courier;
        font-weight: bold;
        font-size:4em;
        text-shadow: 5px 5px black;
        text-transform: uppercase;
    }

    .caption {
        position: relative;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        color: white;
        -webkit-filter: brightness(100%) blur(0px) !important; /* Safari 6.0 - 9.0 */
        filter: brightness(100%) blur(0px) !important;
    }
    .affix {
        top: 0;
        width: 100%;
        z-index: 9999 !important;
    }

    .affix + .container-fluid {
        padding-top: 70px;
    }

    .divider {
       width: 100%;
       text-align: center;
       border-bottom: 1px solid #000;
       line-height: 0.1em;
       margin: 10px 0 20px;
    }

    .divider span {
        background:#fff;
        padding:0 10px;
        font-weight: bold;
        text-transform: uppercase;
    }
